body {
    background-color : #3f4c6b;
    font-family : 'Nanum Gothic', sans-serif;
    color : white;
}

.topbutton a {
    padding : 10px 15px 10px 15px;
    color : white;
    text-decoration : none;
}

.topbuttonclick a {
    padding : 10px 15px 10px 15px;
    color : white;
    text-decoration : none;
    font-weight : bold;
}

#up {
    margin : 10px 0px 50px 0px;
}

#middle {
    width : 230px;
    margin : 0 auto;
}

h1 {
    padding : 40px;
    color : white;
    text-align: center;
}

label input {
    width : 200px;
    padding: 10px 10px 10px;
    margin-bottom : 20px;
    border : none;
    border-bottom : 1px solid rgba(255, 255, 255, .5);
    background-color : transparent;
    font-size : 16px; 
    outline : none; 
}

#bottombutton input {
    margin : 5px;
    width : 100px;
    height : 30px;
    border : none;
    border-radius : 3px;
    background-color : white;
}