/* 전체 스타일 */
body {
    background-color : #3f4c6b;
    font-family : 'Nanum Gothic', sans-serif;
    color : white;
    width : 1020px;
    margin : 0 auto;
}

/* 네비게이션 스타일*/
#topbutton a {
    padding : 10px 15px 10px 15px;
    color : white;
    text-decoration : none;
}

#topbuttonclick a {
    padding : 10px 15px 10px 15px;
    color : white;
    text-decoration : none;
    font-weight : bold;
}

/* 가로선 스타일 */
#up {
    margin : 10px 0px 50px 0px;
}

/* 로그인, 회원가입 내용 부분 스타일(LAB2) */
#middle {
    width : 230px;
    margin : 0 auto;
}

label input {
    width : 200px;
    padding: 10px 10px 10px;
    margin-bottom : 20px;
    border : none;
    border-bottom : 1px solid rgba(255, 255, 255, .5);
    background-color : transparent;
    font-size : 16px; 
    outline : none; 
}

#bottombutton input {
    margin : 5px;
    width : 100px;
    height : 30px;
    border : none;
    border-radius : 3px;
    background-color : white;
}

/* 헤더 텍스트 부분 */
#centerTitle {
    padding : 40px;
    color : white;
    text-align: center;
}

#headerText {
    padding: 40px 0 40px 0;
    position: relative;
    animation-name: movingText;
    animation-timing-function: linear;
    animation-duration: 2s;
}

@keyframes movingText {
    from {left: 1020px;}
    to {left: 0px;}
}

/* index.html 판매 아이템 부분(LAB3) */
.itemSection, .boxSection {
    display: flex;
}

#box1 {
    box-sizing: border-box;
    width: 500px;
    height: 640px;
    margin: 5px;
    border-width: 1px;
    border-style: solid;
    border-color: white;
}

img {
    transition: transform 2s;
    transform-origin: top left;
}
img:hover {
    transform-origin: top left;
    transform: scale(2);
}

/* 웹사이트 소개 부분(LAB3) */
#boxColumn {
    height: 300px;
    margin : 0px;
    column-count: 2;
    column-gap: 40px;
    column-width: 490px;
    column-rule-style: solid;
    column-rule-width: 1px;
    box-sizing: border-box;
    text-align: justify;
}
